{% extends 'base.html' %}

{% block head %}
    <title>IT-352 Course Project</title>
{% endblock %}

{% block body %}
<div id="particles-js"></div>
<div class="column" id="main">
<div class="column">
<div class="project-title">
<img src="/static/assets/nitk_logo.png" alt="">
<h1>Extended Visual Cryptography</h1>
</div>
<h2>IT-352 Mini Project</h2>
</div>
<form id="uploadForm">
    <div id="imagePreview">
        <img src="" alt="Choose an Image" id="previewImg">
    </div>
    <input type="file" name="image" id="fileInput" accept="image/*">
    <div class="row">
    <label for="fileInput" class="glass">Choose Image</label>
    <button type="submit" id="submitButton" class="glass">Upload</button>
</div>
</form>
<h3 id="loading_message" style="display: none;">Please hold on while we generate your Image Shares...</h3>
<div></div>
</div>

{% endblock %}